<footer class="text-white bg-black">
  <div class="container">
    <div>
      <p>Address</p>
      <p>
        Carrer de Torres i Amat, 21 3er<br>
        08001, Barcelona
      </p>
    </div>
    <div>
      <p>Follow us</p>
    </div>
  </div>
  <div class="container">
    <div>
      <a href="#">Privacy policy</a>
      <a href="#">Legal Notice</a>
    </div>
    <div>
      <a class="group" href="https://mortensen.cat" target="_blank" rel="noopener" title="Mortensen: digital agency in Barcelona. UX/UI Design and development">Made with <i class="transition roman group-hover:text-[red]">♥</i> by <strong>Mortensen</strong></a>
    </div>
  </div>
</footer>
