<section>
  <div class="container flex flex-col items-center">
    <h1 class="text-3xl font-bold text-center mt-6 mb-10 block md:hidden">Content title</h1>
    <div>
      <img class="rounded" src="./assets/images/image2.jpeg" alt="">
    </div>
    <div class="w-1/1 text-center mt-8">
      <h1 class="text-3xl font-bold text-center mt-16 mb-12 hidden md:block">Content title</h1>
      <p class="text-gray-400">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
        blind texts.<br>
        <br>
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
        blind texts.
      </p>
    </div>
    <div class="block w-24 h-10 p-2 text-center rounded text-white bg-black font-bold mt-4 mb-8">
      <a href="#">Buy now</a>
    </div>
  </div>
</section>
