<section>
  <div class="container flex flex-col items-center md:flex-row md:align-middle md:justify-center md:my-20">
    <h1 class="text-xl font-bold text-center mt-6 mb-8 block md:hidden">Content title</h1>
    <div class="md:w-fit">
      <img class="rounded" src="./assets/images/image2.jpeg" alt="">
    </div>
    <div class="w-1/1 flex flex-wrap justify-center text-center mt-8 md:ml-8 md:p-5 md:mt-12 md:text-left md:flex md:justify-start" >
      <h1 class="text-xl font-bold text-center mt-16 mb-12 hidden md:block md:text-2xl md:mb-8 md:mt-0">Content title</h1>
      <p class="text-gray-200 md:text-lg">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
        blind texts.<br>
        <br>
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
        blind texts.
      </p>
      <div class="block w-24 h-10 p-2 rounded text-white text-center bg-black font-bold mt-4 mb-8 md:mt-12">
        <a href="#">Buy now</a>
      </div>
    </div>
  </div>
</section>
