<section>
  <div class="container">

    <h1>Welcome to Mortensen</h1>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>

    <div class="w-full h-full swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./assets/images/image1.jpeg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/image2.jpeg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/image3.jpeg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/image4.jpeg" alt="">
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
