<section>
  <div class="container">
    <div class="flex flex-col items-center mb-12">
      <h1 class="text-3xl font-bold text-center mt-20 md:text-5xl">Welcome to Mortensen</h1>
      <div class="w-1/1 text-center mt-8">
        <p class="text-gray-400 md:text-lg md:px-80">Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts</p>
      </div>
    </div>
    <div class="swiper-wrapper swiper mySwiper">
      <div class="w-full h-full swiper mySwiper md:w-2/3 md:h-2/3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="rounded" src="./assets/images/image1.jpeg" alt="">
          </div>
          <div class="swiper-slide md:object-cover">
            <img class="rounded" src="./assets/images/image2.jpeg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="rounded" src="./assets/images/image3.jpeg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="rounded" src="./assets/images/image4.jpeg" alt="">
          </div>
        </div>
        <div class="mt-12">
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="swiper-button">
        <div class="swiper-button-next hidden md:block"></div>
        <div class="swiper-button-prev hidden md:block"></div>
      </div>
    </div>
  </div>
</section>
